html, body {
  width: 250px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  border: 1px solid black;
}

.hidden {
  display: none;
}

input {
  width: 100%;
}

.row {
  padding: 5px;
}

.width-50 {
  width: 50%;
}

.width-25-i {
  width: 25% !important;
}